/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson{
  	width: 50%;
  	margin-bottom: 50px;
  }

  .top-wrapper h1{
  	font-size: 32px;
  }

  .heading h2{
  	font-size: 20px;
  }
  
    /*@samsi footer*/
  .main-content{
    display: flex;
    flex-wrap: wrap;
  }

  .main-content .box{
    padding: 30px 30px;
    flex: auto;
    width: 50%;
    font-size: x-large;
    line-height: 1.5;
  }

  .box h2{
    font-size: 1.5rem;
  }

  .right .content {
    text-align: center;
  }

  .right h2 {
    text-align: center;

  }

  .left .content p{
    text-align: left;
    line-height: 1.8;
  }
  
  input[type=email] {
    width: 70%;
    padding: 5px 20px;
    margin: 8px 0;
  }
  
  button[type=submit] {
    width: 70%;
    font-size: 25px;
  }

  textarea{
    width: 70%;
    padding: 5px 20px;
    margin: 8px 0;
  }

  .copyright{
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

  .menu-icon {
    display: block;
  }

  .image{
  	width: 70%;
  	height: 80%;
  }

  .lesson{
  	width: 100%;
  }

  .footer{
  	text-align: center;
  }
  .btn{
  	width: 100%;
  }

  .facebook{
  	margin-bottom: 10px;
  }

  .top-wrapper{
  	text-align: left;
  	padding-top: 130px;
  }

  .header-right{
  	display: none;
  }

  .menu-icon{
  	display: block;
  }

  .top-wrapper p{
  	font-size: 14px;
  	line-height: 20px;
  }

  .header-right.responsive {
  	display: block;
  	background-color: rgba(34, 49, 52, 0.9);
  	margin: -5px -15px 0px 0px;
  	width: 108%;
  }
  .header-right.responsive a {
    float: none;
    display: block;
    text-align: left;
    line-height: 45px;
  }
  .header-right.responsive a:hover {
  	background-color: rgba(255, 255, 255, 0.3);
  }
  .header-right.responsive a.active {
  	background-color: rgba(255, 255, 255, 0.3);
  }

  /*@samsi*/
  .footer{
    margin-right: 0px;
  }
  .main-content{
    display: block;
    text-align: center;
    width: 100%;
  }
  .left .content p{
    text-align: center;
  }
  .copyright{
    font-size: 10px;
    color: rgba(104, 9, 49, 0.911);
    text-align: center;
    padding: 20px 0;
  }

}
